/* CSS - Cascading Style Sheet  (Folha de estilo em cascata) */

/*
    Regras de estilos -> 
        -Seletor: Quem eu quero aplicar aquele estilo?
            seletor: {
                propriedade: valor
                ex. cor: vermelho
            } -> regra CSS

*/
/* TIPOS DE SELETORES 

1. Seletor por elemento/tag;

*/

header {
    background-color: burlywood;
}

/* 

2. Seletor por classes;
Podemos selecionar as classes das tags e estilizarmos com mais facilidade.
Se aplicarmos para, por exemplo, ul's, todas as ul's serão estilizadas, por isso usamos os seletores por classes.

*/

.secaoDetalhesConta {
    background-color: cadetblue;
}

/* 

3. Seletor por ID;

#selectorid {
    background-color: burlywood;
    color: red;
    font-family: monospace;
    font-size: 20px;
}

*/

/*
    Dimensionamento; width and height

*/

.secaoDetalhesConta{
    width: 300px;
    height: 400px;
    background-color: blue;
}

/*
    Posicionamento; Já há um posicionamento padrão, um embaixo do outro, com um espaçamento e estilo padrão.
    
    -----> inline: apenas tags que ocupam comporamento de linha; Ex. strong. Um strong do lado do outro tem um comportamento de linha, 
                    um fica do lado do outro.
                    NÃO CONSEGUIMOS SETAR ALTURA NEM LARGURA
    
    -----> inblock: São blocos, ocupam 100% do documento. Exemplo: tag <p> , h2, section, ...
                    Ficam um embaixo do outro.

    OBS: conseguimos mudar isso, conseguimos mudar e setar um inline como um bloco.

    -----> inline-block: É um inline com privilégios de block

    -----> flexbox: Auxilia em posicionar os elementos, centralizar, posicionar no topo, no final, etc...


*/


